*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}
body{
    margin: 0;
    padding: 0;
    background-color: #f7f3e3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.red-button{
    background-color: #bd0f21;
    color: white;
    border: white;
    border-radius: 15px;
    text-decoration: none;
}
.padding-ten{
    padding: 10px;
}
.padding-twenty{
    padding: 20px;
}

.red-button:hover{
    background-color: darkred;
    text-decoration: underline;
}
.center{
    text-align: center;
}
.center img {
    max-width: 100%;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    padding: 5px;
}

.nav-links a {
    text-decoration: none;
    color: white;

}

.navbar-logo img{
    width: 150px;
    height: auto;
}
/*.navbar-logout a{*/
/*    margin-right: 10px;*/
/*}*/

.nav-link:hover{
    padding: 5px;
    background-color: white;
    color: #333;
}
.nav-link a:hover{

    color: #333;
}


.parent-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}


.content-container, .bottom-buttons{
    margin-top: 25px;

}
.button-stack{

    margin-top: 25px;
}

.block{
    display: block;
}
#technobel-school{
    opacity: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
}
