<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center-container">
        <div class="center">
            <img src="/assets/image/TBU.png" alt="Technobel University Logo">
        </div>
        <a href="/home" class="red-button padding-twenty">Enter Site</a>


    </div>

</body>
</html>